.option {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.correct {
  background: #48bb78;
  border-color: #48bb78;
  color: #fff;
}

.wrong {
  background: #f56565;
  border-color: #f56565;
  color: #fff;
}
